@import "~/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
    --sky-blue: #d4f0fc;
    --light-blue: #89d6fb;
    --electric-blue: #02a9f7;
    --dark-blue: #02577a;
    --black: #01303f;
    --cream: #FEFBEA;
}

.topnav a {
    text-decoration: none;
    color: var(--sky-blue);
    padding: .5rem;
    font-size: 1.25rem;
}

.topnav a:hover {
    color: white;
}

.topnav a.active {
    color: white;
}

.topnav {
    background-color: var(--dark-blue);
    padding: .7rem;
    width: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #141414;
    font-family: 'Rubik', sans-serif;
}

.profile-image {
    width: 100%;
    max-width: 22rem;
    height: auto;
    border-radius: 3rem;
}

.social-nav a {
    font-size: 2rem;
}

.social-nav a:link,
.social-nav a:visited {
    color: black;
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about {
    padding-top: 3.5em;
}

.aboutme {
    background-color: var(--dark-blue);
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.heading {
    color: var(--cream);
}

.port-heading {
    color: var(--cream);
    margin: 0;
}

.blog-heading {
    color: white;
}

.blog-text {
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 65ch;
    color: white;
}

#blog {
    text-align: center;
    border-radius: 1.5rem;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.blog-top {
    padding-top: .75em;
}

.date-picker {
    padding-top: .4em;
}

.blog-bottom {
    display: flex;
    background: var(--dark-blue);
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    align-items: center;
    border-radius: 1.5rem;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
}

.text {
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 65ch;
    color: var(--cream);
}


#portfolio {
    padding-left: 1rem;
    padding-right: 1rem;
}

.portfolio-image {
    width: 100%;
    max-width: 30rem;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.port-card {
    background: var(--dark-blue);
    border-radius: 1.5rem;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
}

.resume-btn {
    background-color: var(--cream);
    color: var(--black);
    align-self: center;
}

.resume-btn:hover {
    background-color: #e2dfd0;
}

.resume-btn:active,
.resume-btn:focus,
.resume-btn:focus:active {
    background-color: #e2dfd0 !important;
    border-color: #e2dfd0;
}

.link {
    text-decoration: none;
    color: var(--light-blue);
    word-break: break-all;
}

.copyright {
    color: white;
    margin-bottom: 0;
}

.blog-image {
    width: 100%;
    max-width: 30rem;
    height: auto;
    border-radius: 1em;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    margin-top: 1em;
    margin-bottom: 1em;
}

i {
    color: white;
}

hr {
    color: white;
}