/* https://coolors.co/312f2f-84dccf-a6d9f7-bccce0-bf98a0 */
/* https://coolors.co/ffffff-00a7e1-00171f-003459-007ea7 */
/* https://coolors.co/000000-291528-3a3e3b-f0eff4-9e829c */
/* https://coolors.co/f3e8ee-bacdb0-729b79-475b63-2e2c2f */

.topnav a {
    text-decoration: none;
    color: gray;
    padding: 1rem;
    font-size: 2rem;
}

.topnav a:hover {
    color: white;
}

.topnav a.active {
    color: white;
}

.topnav {
    background-color: black;
    padding: .7rem;
}

body {
    margin: 0;
}

.profile-image {
    width: 30rem;
    height: 20rem;
    border-radius: 3rem;
}

.social-nav a {
    font-size: 2rem;
}

.social-nav a:link,
.social-nav a:visited {
    color: black;
}

.social-wrapper {
    padding-left: 20rem;
    padding-right: 20rem;
}

.social-container {
    display: flex;
    align-items: center;
}