@import "~/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
    --sky-blue: #d4f0fc;
    --light-blue: #89d6fb;
    --electric-blue: #02a9f7;
    --dark-blue: #02577a;
    --black: #01303f;
    --cream: #FEFBEA;
}

.topnav a {
    /* making top nav smaller, it's way too big right now */
    text-decoration: none;
    color: var(--sky-blue);
    padding: .5rem;
    font-size: 1.25rem;
}

.topnav a:hover {
    color: white;
}

.topnav a.active {
    color: white;
}

.topnav {
    background-color: #02577a;
    padding: .7rem;
    width: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #141414;
    font-family: 'Rubik', sans-serif;
}

.profile-image {
    width: 100%;
    max-width: 22rem;
    height: auto;
    border-radius: 3rem;
}

.social-nav a {
    font-size: 2rem;
}

.social-nav a:link,
.social-nav a:visited {
    color: black;
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about {
    padding-top: 5%;
}

.about-heading {
    color: var(--cream);
}

.about-text {
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 65ch;
    color: var(--cream);
}

.copyright {
    color: white;
}

i {
    color: white;
}

hr {
    color: white;
}