/* https://coolors.co/312f2f-84dccf-a6d9f7-bccce0-bf98a0 */

.topnav a {
    text-decoration: none;
    color: gray;
    padding: 10px;
    font-size: 30px;
}

.topnav a:hover {
    content: "";
    color: white;
}

.topnav a.active {
    color: white;
}

.topnav {
    background-color: black;
}